* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button {
  cursor: pointer;
  border: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  height: 100%;
  width: 100%;
}

.context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px 4px;
  background-color: rgb(45, 45, 45);
  width: 200px;
}

.context-menu button,
.context-menu label {
  width: 100%;
  color: white;
  text-align: left;
  padding: 4px 5px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
  height: 30px;
  font-family: sans-serif;
}

.context-menu input[type='file'] {
  display: none;
}

.context-menu button:hover,
.context-menu label:hover {
  background-color: rgb(99, 99, 99);
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.selection {
  background-color: transparent;
  border: 1px dotted black;
  position: absolute;
  z-index: 1000;
}

.desktop-item {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 10px 10px;
  border-radius: 4px;
  background-color: transparent;
  user-select: none;
}

.desktop-item.hovered {
  background-color: rgb(0, 0, 0, 0.1);
}

.desktop-item.active {
  background-color: rgb(0, 0, 0, 0.2);
}

.desktop-item input {
  background-color: transparent;
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 3px;
}

.desktop-item input:focus {
  outline: 1px solid black;
}

.desktop-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
